cs733/assignment2/assignment2.iml
cs733/assignment2/.idea/*
cs733/assignment3/assignment3.iml
cs733/assignment3/.idea/*
cs733/assignment3/logs/*
cs733/assignment3/*_state
cs733/assignment4/.idea/*
cs733/assignment4/logs/*
cs733/assignment4/*_state
cs733/assignment4/assignment4.iml
./.gitignore~
